
*@
@{
    ViewData["Title"] = "Contact:";
}
<h1>@ViewData["Title"]</h1>

<div class="container row my-5">
    <section class="col-md-6">
        <h2>Our Location</h2>
        <address>
            <p>Inland Lake Marina</p>
            <p>Box 123</p>
            <p>Inland Lake, Arizona</p>
            <p>86038 </p>
        </address>
    </section>
    <section class="col-md-6">
            <h2>Contact Info</h2>
            <p>Office Phone:  928-555-2234</p>
            <p>Leasing Phone:   928-555-2235</p>
            <p>Fax:  928-555-2236</p>
            <p>Manager: Glenn Cooke </p>
            <p>Slip Manager: Kimberley Carson</p>
            <p>Contact email: info@inlandmarina.com</p>
    </section>

</div>


