@{
    ViewData["Title"] = "Home";
}



<div >
    <h1 class="display-2 text-center my-5">Welcome to Inland Marina</h1>
    <p>
        Inland Marina is located on the south shore Inland Lake, just a small commute from major
        centers in the southwest.
    </p>
    <p>
        Inland Marina was established in the 1967 shortly after Inland Lake was created as a result of the 
    Southwest dam. From its humble beginnings, it has grown to be the largest marina on Inland Lake. Due 
    to the warm climate that extends year-round, Inland Lake has become a popular tourist destination in 
    the southwest. Boat owners from California, Arizona, Nevada, and Utah are attracted to the area. 
    Inland Marina has 90 slips ranging in size from 16 to 32 feet in length. Dock services include electrical 
    and fresh water.
    </p>
    <p>Learn more about <a href="https://marinas.com/view/marina/z4cr6e6_Inland_Marina_Evansville_IN_United_States">Dock Services</a>.</p>
</div>

